.nav {
    display: flex;
    justify-content: space-between;

    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px grey solid;
}
.mainMenu {
    width: 200px;
    display: flex;
    justify-content: flex-start;
    gap: 16px;
}
.userMenu {
    width: 400px;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}