.button {
  border: grey 1px solid;
  border-radius: 10px;
  padding: 4px;
}

.delete {
  background-color: lightblue;
}
.delete:hover {
  background-color: red;
  color: #fff;
}

.newcontact {
  height: 30px;
  font-size: 16px;
  background-color: green;
  color: #fff;
}
.newcontact:hover {
  background-color: rgb(1, 170, 1);
}
.logout {
}
.logout:hover {
  background-color: lightslategray;
  color: #fff;
}
.login,
.register {
  height: 30px;
  font-size: 16px;
  padding-left: 30px;
  padding-right: 30px;
}
.login:hover,
.register:hover {
  background-color: lightslategray;
    color: #fff;
}
