.formdiv {
    width: 100%;
    background-color: rgb(239, 239, 239);
    /* border: lightblue 1px solid; */

    margin-bottom: 20px;
}
.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 8px;

    padding:10px;
}
.form input {
    width:300px;
    height: 26px;
    font-size: 16px;
    outline-color: green;
}
p {
    margin-top: 4px;
    margin-bottom: 8px;
    font-weight: 700;
}

